@import 'harpy!amino.js';

body {
  @extend .m0, .black, .bg-white, .lh-copy, .sans-serif;
}

a {
  @extend .blue;
  text-decoration: none;
}

h1 {
  @extend .h1, .mt2, .mb1;
}
h2 {
  @extend .h2, .mt2, .mb1;
}
h3 {
  @extend .h3, .mt2, .mb1;
}
h4 {
  @extend .h4, .mt2, .mb1;
}

p {
  @extend .mt0, .mb1;
}

ul, ol {
  @extend .pl3, .mt0, .mb1;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  height: auto;
  border: none;
  vertical-align: middle;
  -webkit-appearance: none;
  line-height: inherit;
  outline: none;
}

.list-reset {
  list-style: none;
  @extend .pl0;
}

.link-reset {
  text-decoration: inherit;
  @extend .color-inherit;
}

.border {
  @extend .border-top, .border-right, .border-bottom, .border-left;
}

.input-focus, .textarea-focus {
  @extend .border-blue, .outline-blue;
}

.btn-focus {
  @extend .outline-black;
}

.btn {
  @extend .bold, .border-box, .rounded, .px2, .py1, .lh-heading, .inline-block, .cursor-pointer, .no-underline;
  border: 1px solid transparent;
  &:focus {
    @extend .btn-focus;
  }
}

.input {
  font-family: inherit;
  font-size: inherit;
  height: 2.5rem;
  outline: none;
  @extend .block, .p1, .border-box, .rounded, .border;
  &:focus {
    @extend .input-focus;
  }
}

.textarea {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  @extend .block, .p1, .border-box, .rounded, .border;
  &:focus {
    @extend .textarea-focus;
  }
}

.row-0 {
  background-color: #20588F;
}

.row-1 {
  background-color: #102978;
}
