.content-start {
  align-content: flex-start; }

.content-end {
  align-content: flex-end; }

.content-center {
  align-content: center; }

.content-stretch {
  align-content: stretch; }

.content-between {
  align-content: space-between; }

.content-around {
  align-content: space-around; }

.items-start {
  align-items: flex-start; }

.items-end {
  align-items: flex-end; }

.items-center {
  align-items: center; }

.items-baseline {
  align-items: baseline; }

.items-stretch {
  align-items: stretch; }

.self-start {
  align-self: flex-start; }

.self-end {
  align-self: flex-end; }

.self-center {
  align-self: center; }

.self-baseline {
  align-self: baseline; }

.self-stretch {
  align-self: stretch; }

.bg-transparent {
  background-color: transparent; }

.bg-black {
  background-color: black; }

.bg-white, body {
  background-color: white; }

.bg-silver {
  background-color: gainsboro; }

.bg-gray, .bg-grey {
  background-color: gray; }

.bg-blue {
  background-color: #20588F; }

.bg-red {
  background-color: crimson; }

.bg-green {
  background-color: limegreen; }

.bg-black-90 {
  background-color: rgba(0, 0, 0, 0.9); }

.bg-white-90 {
  background-color: rgba(255, 255, 255, 0.9); }

.bg-silver-90 {
  background-color: rgba(220, 220, 220, 0.9); }

.bg-gray-90, .bg-grey-90 {
  background-color: rgba(128, 128, 128, 0.9); }

.bg-blue-90 {
  background-color: rgba(32, 88, 143, 0.9); }

.bg-red-90 {
  background-color: rgba(220, 20, 60, 0.9); }

.bg-green-90 {
  background-color: rgba(50, 205, 50, 0.9); }

.bg-black-80 {
  background-color: rgba(0, 0, 0, 0.8); }

.bg-white-80 {
  background-color: rgba(255, 255, 255, 0.8); }

.bg-silver-80 {
  background-color: rgba(220, 220, 220, 0.8); }

.bg-gray-80, .bg-grey-80 {
  background-color: rgba(128, 128, 128, 0.8); }

.bg-blue-80 {
  background-color: rgba(32, 88, 143, 0.8); }

.bg-red-80 {
  background-color: rgba(220, 20, 60, 0.8); }

.bg-green-80 {
  background-color: rgba(50, 205, 50, 0.8); }

.bg-black-50 {
  background-color: rgba(0, 0, 0, 0.5); }

.bg-white-50 {
  background-color: rgba(255, 255, 255, 0.5); }

.bg-silver-50 {
  background-color: rgba(220, 220, 220, 0.5); }

.bg-gray-50, .bg-grey-50 {
  background-color: rgba(128, 128, 128, 0.5); }

.bg-blue-50 {
  background-color: rgba(32, 88, 143, 0.5); }

.bg-red-50 {
  background-color: rgba(220, 20, 60, 0.5); }

.bg-green-50 {
  background-color: rgba(50, 205, 50, 0.5); }

.bg-black-15 {
  background-color: rgba(0, 0, 0, 0.15); }

.bg-white-15 {
  background-color: rgba(255, 255, 255, 0.15); }

.bg-silver-15 {
  background-color: rgba(220, 220, 220, 0.15); }

.bg-gray-15, .bg-grey-15 {
  background-color: rgba(128, 128, 128, 0.15); }

.bg-blue-15 {
  background-color: rgba(32, 88, 143, 0.15); }

.bg-red-15 {
  background-color: rgba(220, 20, 60, 0.15); }

.bg-green-15 {
  background-color: rgba(50, 205, 50, 0.15); }

.border-top, .border, .input, .textarea {
  border-top-style: solid; }

.border-top, .border, .input, .textarea {
  border-top-width: 1px; }

.border-top, .border, .input, .textarea {
  border-top-color: rgba(0, 0, 0, 0.15); }

.border-right, .border, .input, .textarea {
  border-right-style: solid; }

.border-right, .border, .input, .textarea {
  border-right-width: 1px; }

.border-right, .border, .input, .textarea {
  border-right-color: rgba(0, 0, 0, 0.15); }

.border-bottom, .border, .input, .textarea {
  border-bottom-style: solid; }

.border-bottom, .border, .input, .textarea {
  border-bottom-width: 1px; }

.border-bottom, .border, .input, .textarea {
  border-bottom-color: rgba(0, 0, 0, 0.15); }

.border-left, .border, .input, .textarea {
  border-left-style: solid; }

.border-left, .border, .input, .textarea {
  border-left-width: 1px; }

.border-left, .border, .input, .textarea {
  border-left-color: rgba(0, 0, 0, 0.15); }

.border-transparent {
  border-color: transparent; }

.border-black {
  border-color: black; }

.border-white {
  border-color: white; }

.border-silver {
  border-color: gainsboro; }

.border-gray, .border-grey {
  border-color: gray; }

.border-blue, .input-focus, .input:focus, .textarea-focus, .textarea:focus {
  border-color: #20588F; }

.border-red {
  border-color: crimson; }

.border-green {
  border-color: limegreen; }

.circle {
  border-radius: 9999px; }

.rounded, .btn, .input, .textarea {
  border-radius: .25rem; }

.rounded-top {
  border-radius: .25rem .25rem 0 0; }

.rounded-right {
  border-radius: 0 .25rem .25rem 0; }

.rounded-bottom {
  border-radius: 0 0 .25rem .25rem; }

.rounded-left {
  border-radius: .25rem 0 0 .25rem; }

.not-rounded {
  border-radius: 0; }

.active-lighten:active, .focus-lighten:focus, .hover-lighten:hover, .lighten {
  box-shadow: 0 0 0 9999px rgba(255, 255, 255, 0.25) inset; }

.active-darken:active, .darken, .focus-darken:focus, .hover-darken:hover {
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.125) inset; }

.active-outline-black:active, .active-outline-transparent:active, .focus-outline-black:focus, .focus-outline-transparent:focus, .hover-outline-black:hover, .hover-outline-transparent:hover, .outline-black, .btn-focus, .btn:focus, .outline-transparent {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5); }

.active-outline-white:active, .focus-outline-white:focus, .hover-outline-white:hover, .outline-white {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5); }

.active-outline-silver:active, .focus-outline-silver:focus, .hover-outline-silver:hover, .outline-silver {
  box-shadow: 0 0 0 2px rgba(220, 220, 220, 0.5); }

.active-outline-gray:active, .active-outline-grey:active, .focus-outline-gray:focus, .focus-outline-grey:focus, .hover-outline-gray:hover, .hover-outline-grey:hover, .outline-gray, .outline-grey {
  box-shadow: 0 0 0 2px rgba(128, 128, 128, 0.5); }

.active-outline-blue:active, .focus-outline-blue:focus, .hover-outline-blue:hover, .outline-blue, .input-focus, .input:focus, .textarea-focus, .textarea:focus {
  box-shadow: 0 0 0 2px rgba(32, 88, 143, 0.5); }

.active-outline-red:active, .focus-outline-red:focus, .hover-outline-red:hover, .outline-red {
  box-shadow: 0 0 0 2px rgba(220, 20, 60, 0.5); }

.active-outline-green:active, .focus-outline-green:focus, .hover-outline-green:hover, .outline-green {
  box-shadow: 0 0 0 2px rgba(50, 205, 50, 0.5); }

.border-box, .btn, .input, .textarea {
  box-sizing: border-box; }

.active-color-inherit:active, .color-inherit, .link-reset, .focus-color-inherit:focus, .hover-color-inherit:hover {
  color: inherit; }

.active-transparent:active, .focus-transparent:focus, .hover-transparent:hover, .transparent {
  color: transparent; }

.active-black:active, .black, body, .focus-black:focus, .hover-black:hover {
  color: black; }

.active-white:active, .focus-white:focus, .hover-white:hover, .white {
  color: white; }

.active-silver:active, .focus-silver:focus, .hover-silver:hover, .silver {
  color: gainsboro; }

.active-gray:active, .active-grey:active, .focus-gray:focus, .focus-grey:focus, .gray, .grey, .hover-gray:hover, .hover-grey:hover {
  color: gray; }

.active-blue:active, .blue, a, .focus-blue:focus, .hover-blue:hover {
  color: #20588F; }

.active-red:active, .focus-red:focus, .hover-red:hover, .red {
  color: crimson; }

.active-green:active, .focus-green:focus, .green, .hover-green:hover {
  color: limegreen; }

.cursor-pointer, .btn {
  cursor: pointer; }

.cursor-default {
  cursor: default; }

.cursor-progress {
  cursor: progress; }

.table {
  display: table; }

.block, .input, .textarea {
  display: block; }

.inline-block, .btn {
  display: inline-block; }

.inline {
  display: inline; }

.flex {
  display: flex; }

.inline-flex {
  display: inline-flex; }

.hide {
  display: none; }

.flex-none {
  flex: none; }

.flex-auto, .flex-fluid, .flex-grow {
  flex-grow: 1; }

.flex-auto, .flex-fluid, .flex-shrink {
  flex-shrink: 1; }

.flex-auto, .flex-shrink {
  flex-basis: auto; }

.flex-auto, .flex-fluid, .flex-shrink {
  min-width: 0; }

.flex-auto, .flex-fluid, .flex-shrink {
  min-height: 0; }

.flex-fluid {
  flex-basis: 0px; }

.flex-shrink {
  flex-grow: 0; }

.flex-grow {
  flex-shrink: 0; }

.flex-column {
  flex-direction: column; }

.flex-wrap {
  flex-wrap: wrap; }

.monospace {
  font-family: OperatorMono, OperatorMono-Book, Consolas, monaco, monospace; }

.sans-serif, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Helvetica, sans-serif; }

.h1, h1 {
  font-size: 2rem; }

.h2, h2 {
  font-size: 1.5rem; }

.h3, h3 {
  font-size: 1.25rem; }

.h4, h4 {
  font-size: 1rem; }

.h5 {
  font-size: .875rem; }

.h6 {
  font-size: .75rem; }

.italic {
  font-style: italic; }

.regular {
  font-weight: 400; }

.bold, .btn {
  font-weight: 700; }

.height-100 {
  height: 100%; }

.justify-start {
  justify-content: flex-start; }

.justify-end {
  justify-content: flex-end; }

.justify-center {
  justify-content: center; }

.justify-between {
  justify-content: space-between; }

.justify-around {
  justify-content: space-around; }

.lh-copy, body {
  line-height: 1.5; }

.lh-heading, .btn {
  line-height: 1.25; }

.lh-solid {
  line-height: 1; }

.m0, body, .mt0, p, ul, ol, .my0 {
  margin-top: 0; }

.m1, .mt1, .my1 {
  margin-top: 0.5rem; }

.m2, .mt2, h1, h2, h3, h4, .my2 {
  margin-top: 1rem; }

.m3, .mt3, .my3 {
  margin-top: 2rem; }

.m4, .mt4, .my4 {
  margin-top: 4rem; }

.m5, .mt5, .my5 {
  margin-top: 8rem; }

.m-half, .mt-half, .my-half {
  margin-top: 0.25rem; }

.mn-half, .mtn-half, .myn-half {
  margin-top: -0.25rem; }

.mn1, .mtn1, .myn1 {
  margin-top: -0.5rem; }

.mn2, .mtn2, .myn2 {
  margin-top: -1rem; }

.mn3, .mtn3, .myn3 {
  margin-top: -2rem; }

.mn4, .mtn4, .myn4 {
  margin-top: -4rem; }

.mn5, .mtn5, .myn5 {
  margin-top: -8rem; }

.m-auto, .mt-auto, .my-auto {
  margin-top: auto; }

.m0, body, .mr0, .mx0 {
  margin-right: 0; }

.m1, .mr1, .mx1 {
  margin-right: 0.5rem; }

.m2, .mr2, .mx2 {
  margin-right: 1rem; }

.m3, .mr3, .mx3 {
  margin-right: 2rem; }

.m4, .mr4, .mx4 {
  margin-right: 4rem; }

.m5, .mr5, .mx5 {
  margin-right: 8rem; }

.m-half, .mr-half, .mx-half {
  margin-right: 0.25rem; }

.mn-half, .mrn-half, .mxn-half {
  margin-right: -0.25rem; }

.mn1, .mrn1, .mxn1 {
  margin-right: -0.5rem; }

.mn2, .mrn2, .mxn2 {
  margin-right: -1rem; }

.mn3, .mrn3, .mxn3 {
  margin-right: -2rem; }

.mn4, .mrn4, .mxn4 {
  margin-right: -4rem; }

.mn5, .mrn5, .mxn5 {
  margin-right: -8rem; }

.m-auto, .mr-auto, .mx-auto {
  margin-right: auto; }

.m0, body, .mb0, .my0 {
  margin-bottom: 0; }

.m1, .mb1, h1, h2, h3, h4, p, ul, ol, .my1 {
  margin-bottom: 0.5rem; }

.m2, .mb2, .my2 {
  margin-bottom: 1rem; }

.m3, .mb3, .my3 {
  margin-bottom: 2rem; }

.m4, .mb4, .my4 {
  margin-bottom: 4rem; }

.m5, .mb5, .my5 {
  margin-bottom: 8rem; }

.m-half, .mb-half, .my-half {
  margin-bottom: 0.25rem; }

.mbn-half, .mn-half, .myn-half {
  margin-bottom: -0.25rem; }

.mbn1, .mn1, .myn1 {
  margin-bottom: -0.5rem; }

.mbn2, .mn2, .myn2 {
  margin-bottom: -1rem; }

.mbn3, .mn3, .myn3 {
  margin-bottom: -2rem; }

.mbn4, .mn4, .myn4 {
  margin-bottom: -4rem; }

.mbn5, .mn5, .myn5 {
  margin-bottom: -8rem; }

.m-auto, .mb-auto, .my-auto {
  margin-bottom: auto; }

.m0, body, .ml0, .mx0 {
  margin-left: 0; }

.m1, .ml1, .mx1 {
  margin-left: 0.5rem; }

.m2, .ml2, .mx2 {
  margin-left: 1rem; }

.m3, .ml3, .mx3 {
  margin-left: 2rem; }

.m4, .ml4, .mx4 {
  margin-left: 4rem; }

.m5, .ml5, .mx5 {
  margin-left: 8rem; }

.m-half, .ml-half, .mx-half {
  margin-left: 0.25rem; }

.mln-half, .mn-half, .mxn-half {
  margin-left: -0.25rem; }

.mln1, .mn1, .mxn1 {
  margin-left: -0.5rem; }

.mln2, .mn2, .mxn2 {
  margin-left: -1rem; }

.mln3, .mn3, .mxn3 {
  margin-left: -2rem; }

.mln4, .mn4, .mxn4 {
  margin-left: -4rem; }

.mln5, .mn5, .mxn5 {
  margin-left: -8rem; }

.m-auto, .ml-auto, .mx-auto {
  margin-left: auto; }

.col12, .maxw-100 {
  max-width: 100%; }

.col1 {
  max-width: 8.333333333333332%; }

.col2 {
  max-width: 16.666666666666664%; }

.col3 {
  max-width: 25%; }

.col4 {
  max-width: 33.33333333333333%; }

.col5 {
  max-width: 41.66666666666667%; }

.col6 {
  max-width: 50%; }

.col7 {
  max-width: 58.333333333333336%; }

.col8 {
  max-width: 66.66666666666666%; }

.col9 {
  max-width: 75%; }

.col10 {
  max-width: 83.33333333333334%; }

.col11 {
  max-width: 91.66666666666666%; }

.active-opacity-50:active, .focus-opacity-50:focus, .hover-opacity-50:hover, .opacity-50 {
  opacity: 0.5; }

.active-opacity-80:active, .focus-opacity-80:focus, .hover-opacity-80:hover, .opacity-80 {
  opacity: 0.8; }

.active-opacity-90:active, .focus-opacity-90:focus, .hover-opacity-90:hover, .opacity-90 {
  opacity: 0.9; }

.active-opacity-100:active, .focus-opacity-100:focus, .hover-opacity-100:hover, .opacity-100 {
  opacity: 1; }

.order-0 {
  order: 0; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.order-3 {
  order: 3; }

.order-first {
  order: -99999; }

.order-last {
  order: 99999; }

.overflow-auto {
  overflow: auto; }

.overflow-hidden {
  overflow: hidden; }

.overflow-scroll {
  overflow: scroll; }

.overflow-x-auto {
  overflow-x: auto; }

.overflow-x-hidden {
  overflow-x: hidden; }

.overflow-x-scroll {
  overflow-x: scroll; }

.overflow-y-auto {
  overflow-y: auto; }

.overflow-y-hidden {
  overflow-y: hidden; }

.overflow-y-scroll {
  overflow-y: scroll; }

.p0, .pt0, .py0 {
  padding-top: 0; }

.p1, .input, .textarea, .pt1, .py1, .btn {
  padding-top: 0.5rem; }

.p2, .pt2, .py2 {
  padding-top: 1rem; }

.p3, .pt3, .py3 {
  padding-top: 2rem; }

.p4, .pt4, .py4 {
  padding-top: 4rem; }

.p5, .pt5, .py5 {
  padding-top: 8rem; }

.p-half, .pt-half, .py-half {
  padding-top: 0.25rem; }

.p0, .pr0, .px0 {
  padding-right: 0; }

.p1, .input, .textarea, .pr1, .px1 {
  padding-right: 0.5rem; }

.p2, .pr2, .px2, .btn {
  padding-right: 1rem; }

.p3, .pr3, .px3 {
  padding-right: 2rem; }

.p4, .pr4, .px4 {
  padding-right: 4rem; }

.p5, .pr5, .px5 {
  padding-right: 8rem; }

.p-half, .pr-half, .px-half {
  padding-right: 0.25rem; }

.p0, .pb0, .py0 {
  padding-bottom: 0; }

.p1, .input, .textarea, .pb1, .py1, .btn {
  padding-bottom: 0.5rem; }

.p2, .pb2, .py2 {
  padding-bottom: 1rem; }

.p3, .pb3, .py3 {
  padding-bottom: 2rem; }

.p4, .pb4, .py4 {
  padding-bottom: 4rem; }

.p5, .pb5, .py5 {
  padding-bottom: 8rem; }

.p-half, .pb-half, .py-half {
  padding-bottom: 0.25rem; }

.p0, .pl0, .list-reset, .px0 {
  padding-left: 0; }

.p1, .input, .textarea, .pl1, .px1 {
  padding-left: 0.5rem; }

.p2, .pl2, .px2, .btn {
  padding-left: 1rem; }

.p3, .pl3, ul, ol, .px3 {
  padding-left: 2rem; }

.p4, .pl4, .px4 {
  padding-left: 4rem; }

.p5, .pl5, .px5 {
  padding-left: 8rem; }

.p-half, .pl-half, .px-half {
  padding-left: 0.25rem; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

.fixed {
  position: fixed; }

.table-fixed {
  table-layout: fixed; }

.left {
  text-align: left; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.underline {
  text-decoration: underline; }

.no-underline, .btn {
  text-decoration: none; }

.uppercase {
  text-transform: uppercase; }

.top-0, .trbl {
  top: 0; }

.right-0, .trbl {
  right: 0; }

.bottom-0, .trbl {
  bottom: 0; }

.left-0, .trbl {
  left: 0; }

.width-100vw {
  width: 100vw; }

.width-auto {
  width: auto; }

.col1 {
  width: 8.333333333333332%; }

.col2 {
  width: 16.666666666666664%; }

.col3 {
  width: 25%; }

.col4 {
  width: 33.33333333333333%; }

.col5 {
  width: 41.66666666666667%; }

.col6 {
  width: 50%; }

.col7 {
  width: 58.333333333333336%; }

.col8 {
  width: 66.66666666666666%; }

.col9 {
  width: 75%; }

.col10 {
  width: 83.33333333333334%; }

.col11 {
  width: 91.66666666666666%; }

.col12 {
  width: 100%; }

.z1 {
  z-index: 1; }

.z2 {
  z-index: 2; }

.z3 {
  z-index: 3; }

.z4 {
  z-index: 4; }

a {
  text-decoration: none; }

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  height: auto;
  border: none;
  vertical-align: middle;
  -webkit-appearance: none;
  line-height: inherit;
  outline: none; }

.list-reset {
  list-style: none; }

.link-reset {
  text-decoration: inherit; }

.btn {
  border: 1px solid transparent; }

.input {
  font-family: inherit;
  font-size: inherit;
  height: 2.5rem;
  outline: none; }

.textarea {
  font-family: inherit;
  font-size: inherit;
  outline: none; }

.row-0 {
  background-color: #20588F; }

.row-1 {
  background-color: #102978; }
