\*
{
	margin:0px;padding:0px;
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
html
{
	height:100%;
}
body
{
	height:100%;
	background-color:#eeeeee;
	font-family:'Open Sans',Arial,sans-serif;
	color:#20588f;
	font-weight:600;
}
h1
{
	font-size:1.2em;
	margin-bottom:10px;
}
/*****************DESIGNER HAPPINESS LEVEL FIX --- REMOVE THIS ASAP **********************/
.external-style{width:625px;margin-left:-45px;}
iframe{border:none;}
/*****************************************************************************************/
/*framework*/
.primary-button{background-color:#20588f;color:#fff;border:1px solid #20588f;letter-spacing:1px;text-transform:uppercase;height:30px;width:100%;}
.primary-button:hover{background-color:#184b7c;color:#fff;}
.primary-button.inactive{background-color:#eee;color:#757677;border-color:#eee;}
.form-field-box input.secondary-button{color:#757677;background-color:#fff;border:1px solid #757677;text-transform:uppercase;letter-spacing:1px;height:30px;width:100%;}
.form-field-box input.secondary-button:hover{background-color:#757677;color:#fff;border:1px solid #757677;cursor:pointer;}
.btn.tertiary-button{background-color:#fff;border:1px solid #757677;color:#757677;width:30px;float:right;margin-right:-10px;}
.btn.tertiary-button:hover{background-color:#fd7151;color:#fff;border:1px solid #fd7151;}
.btn.tertiary-button .fa{margin-left:2px;}
input[type="text"][disabled]{color:#b5b5b5;background-color:#eee;border:1px solid #eee;padding-left:8px;}
/*package title*/
.package-title{font-size:0.7em;padding-bottom:10px;padding-top:5px;border-bottom: 1px solid #dedede;}
/*nav arrows*/
.top-nav-arrows div{color:fff;float:right;height:40px;}
.top-nav-arrows .right-arrow{background-image:url('../img/nav/NAV_sml_next.png');width:40px;height:40px;background-position:0px;}
.top-nav-arrows .right-arrow:hover{background-position:-40px;cursor:pointer}
.top-nav-arrows .right-arrow.no-pages{background-position:-80px;}
.top-nav-arrows .right-arrow.no-pages:hover{background-position:-80px;cursor:default;}
.top-nav-arrows .left-arrow{background-image:url('../img/nav/NAV_sml_back.png');width:40px;height:40px;background-position:0px;}
.top-nav-arrows .left-arrow:hover{background-position:-40px;cursor:pointer}
.top-nav-arrows .left-arrow.no-pages{background-position:-80px;}
.top-nav-arrows .left-arrow.no-pages:hover{background-position:-80px;cursor:default}

.bottom-nav-arrows{/*width:100%;*/float:right;margin:0 auto;background-image:url('../img/nav/NAV_bg_stripe.png');background-color:white;}
.bottom-nav-arrows .inner{margin:0 auto;width:300px;}
.bottom-nav-arrows div{color:fff;height:66px;min-width:20px;}
.bottom-nav-arrows .grid-5{width:50px;}
.bottom-nav-arrows .grid-10{width:64px;}
.bottom-nav-arrows .page-number{line-height:64px;text-align:center;background-image:url('../img/nav/NAV_main_progress.png');width:64px;height:64px;color:#fff;}
.bottom-nav-arrows .right-arrow{background-image:url('../img/nav/NAV_main_next.png');width:64px;height:64px;background-position:0px;}
.bottom-nav-arrows .right-arrow:hover{background-position:-64px;cursor:pointer;}
.bottom-nav-arrows .right-arrow.no-pages{background-position:-128px;}
.bottom-nav-arrows .right-arrow.no-pages:hover{background-position:-128px;cursor:default;}
.bottom-nav-arrows .right-arrow-last{margin-top:7px;background-image:url('../img/nav/NAV_main_last.png');width:50px;height:50px;background-position:0px;}
.bottom-nav-arrows .right-arrow-last:hover{background-position:-50px;cursor:pointer;}
.bottom-nav-arrows .right-arrow-last.no-pages{background-position:-100px;}
.bottom-nav-arrows .right-arrow-last.no-pages:hover{background-position:-100px;cursor:default;}
.bottom-nav-arrows .left-arrow{background-image:url('../img/nav/NAV_main_back.png');width:64px;height:64px;background-position:0px;}
.bottom-nav-arrows .left-arrow:hover{background-position:-64px;cursor:pointer;}
.bottom-nav-arrows .left-arrow.no-pages{background-position:-128px;}
.bottom-nav-arrows .left-arrow.no-pages:hover{background-position:-128px;cursor:default;}
.bottom-nav-arrows .left-arrow-last{margin-top:7px;background-image:url('../img/nav/NAV_main_first.png');width:50px;height:50px;background-position:0px;}
.bottom-nav-arrows .left-arrow-last:hover{background-position:-50px;cursor:pointer;}
.bottom-nav-arrows .left-arrow-last.no-pages{background-position:-100px;}
.bottom-nav-arrows .left-arrow-last.no-pages:hover{background-position:-100px;cursor:default;}
/*grid related*/
.grid-16{float:left;width:16%}
.page-type-box{padding:0;padding-bottom:20px;}
a .page-types{border:1px solid #ededed;text-align:center;margin-right:2%;}
a .page-types.last{margin-right:0%;}
.page-types img{padding-top:20px;padding-bottom:20px;}
.page-types
{
	padding-top:20px;
	padding-bottom:20px;
}
.form-field-box .page-type-icon{width:27px;height:28px;margin-left:26px;}
.form-field-box .page-type-icon.test-page{background:url('../img/page_type_icons/form/pt-test.png') no-repeat 0px 0px;}
.form-field-box .page-type-icon.text-page{background:url('../img/page_type_icons/form/pt-page.png') no-repeat 0px 0px;}
.form-field-box .page-type-icon.video-page{background:url('../img/page_type_icons/form/pt-video.png') no-repeat 0px 0px;}
.form-field-box .page-type-icon.summary-page{background:url('../img/page_type_icons/form/pt-summary.png') no-repeat 0px 0px;}
.form-field-box .page-type-icon.quiz-page{background:url('../img/page_type_icons/form/pt-quiz.png') no-repeat 0px 0px;}
.form-field-box .page-type-icon.task-page{background:url('../img/page_type_icons/form/pt-puzzle.png') no-repeat 0px 0px;}
/*.form-field-box a.active .page-types{background-color:#20588f;}
.form-field-box a.active .page-types .page-type-text{color:#fff;}
.form-field-box a.active .page-types .page-type-icon{background-position:-54px 0px;}*/
.form-field-box a.active .page-types{border-color:#20588f !important;background-color:#20588f;box-shadow: 1px 1px 1px #888888;}
.form-field-box a.active .page-types .page-type-icon{background-position:-54px 0px;}
.form-field-box a.active .page-types .page-type-text{color:#fff;}
.form-field-box a .page-types:hover{border-color:#20588f !important;background-color:#184b7c;}
.form-field-box a .page-types:hover > .page-type-icon{background-position:-54px 0px;}
.form-field-box a .page-types:hover > .page-type-text{color:#fff;}
/*.form-field-box a .page-types:hover{border-color:#20588f;background-colour:white;}
.form-field-box a .page-types:hover > .page-type-icon{background-position:-28px 0px;}
.form-field-box a .page-types:hover > .page-type-text{color:#20588f;}
.form-field-box a.active .page-types:hover > .page-type-text{color:#fff;}*/
/*.form-field-box a .page-types:hover{border-color:#20588f;background-color:#fff;}
.form-field-box a .page-types:hover > .page-type-icon{background-position:-27px 0px;}
.form-field-box a .page-types:hover > .page-type-text{color:#20588f;}*/
/*.form-field-box a .page-types:hover{border:1px solid #20588f;background-color:#20588f;}
.form-field-box a .page-types:hover > .page-type-icon{background-position:-54px 0px;}
.form-field-box a .page-types:hover > .page-type-text{color:#fff;}*/
/*.form-field-box a.active .page-types:hover > .page-type-text{color:#20588f;}*/
.form-field-box .page-type-text{color:#6c727a;letter-spacing:1px;text-transform:uppercase;font-size:0.6em;height:10px;margin-top:5px;}
.content-browser-go .browser-button{margin-top:2px;height:33px;width:34px;border:1px solid #b5b5b5;border-left:none;color:#b5b5b5;}
.content-browser-go i{margin-top:9px;margin-left:10px;font-size:0.8em;}
.content-browser-go:hover{cursor:pointer;}
.content-browser-go:hover > .browser-button{background-color:#184b7c;color:#fff;border:1px solid #184b7c}

/*.content-browser-go{width:34px;border:1px solid #b5b5b5;text-align:center;margin-top:15px;margin-left:5px;height:34px;color:#b5b5b5;}
.page-title-input{margin-left:15px;}*/


iframe#preview{width:100%;min-height:500px;margin-top:20px;border:none;}
.content-area iframe{max-width:100% !important;min-width:100%;}
.left-area a{text-decoration:none;}

.hide-gutter{padding-left:0px;}
.hide-gutter-right{padding-right:0px;}

.grid-container
{
	height:100%;
	max-width:980px;
	height:calc(100% - 100px);
}
.grid-container.student-view{height:calc(100% - 160px);}
.grid-container form{height:100%;}
.right-area
{
	background-color:#ffffff;
	min-height:calc(100% - 64px);
	padding:0px;
}
.left-area
{
	margin-top:14px;
	color:#636363;
	padding-right:0px;
}


.external-style
{
	color:#555;
	font-weight:normal;
}


/**header & menu**/
menu{background-color:#20588f;height:60px;width:100%;border-bottom:#fff 1px solid;}
menu .grid-container.menucontents{background-image:url("../img/header/ndla-logo-w-1.png");background-repeat:no-repeat;background-position:20px 8px;height:60px;width:100%;}
.package-properties-menu{background-color:#fff;width:100%;height:30px;line-height:28px;}
.package-edit-menu{background-color:#184b7c;width:100%;height:40px;color:#fff;line-height:40px;}
.package-edit-menu .save{text-align:center;background-color:#fff;color:#20588f;text-transform:uppercase;font-size:0.7em;letter-spacing:1px;border:none;height:40px;}
/*.package-edit-menu .save{text-align:center;background-color:#fff;color:#20588f;text-transform:uppercase;font-size:0.7em;letter-spacing:1px;}*/
.package-edit-menu .save:hover{background-color:#43b77a;color:#fff;cursor:pointer}
.package-edit-menu .fa{color:#fff;}
.menucontents .fa{color:#fff;}
.menucontents .help{text-align:center;float:right;height:60px;padding-top:17px;}
.menucontents .help:hover{background-color:#d6eefa;}
.menucontents .help:hover > .fa{color:#20588f;}
.menucontents .help.active{background-color:#d6eefa;}
.menucontents .help.active .fa{/*color:white;*/color:#20588f;}
/*.package-edit-menu .dropdown{background:white;border-right:5px solid #184b7c;}*/
.package-edit-menu .dropdown
{

   height: 40px;
   overflow: hidden;
   background: url(../img/blue-downarrow.png) no-repeat 90px #fff;
   border-right: 3px solid #184b7c;
}
.package-edit-menu .dropdown:hover{cursor:pointer;background:url('../img/white-downarrow.png') no-repeat 90px #0D7DB5;}
.package-edit-menu select
{
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	background: transparent;
	width: 163px;
	padding: 5px;
	padding-left:10px;
	border: 0;
	border-radius: 0;
	height: 40px;
	text-transform:uppercase;
	font-size:0.7em;
	letter-spacing:1px;
	color:#20588f;
	position:relative;
	top:-2px;
	-webkit-appearance: none;
}
.package-edit-menu select:hover{cursor:pointer;color:#fff;}
.package-edit-menu select option{-webkit-appearance:none;-moz-appearance:none;background-color:red;}
 
/*.package-edit-menu .dropdown select{width:100%;height:36px;background:white;border:1px #fff solid;position:relative;top:-3px;}*/
/*.package-edit-menu .help{text-align:center;border-right:3px solid #184b7c;}*/
/*.package-edit-menu .help:hover{background-color:#ebf8ff;}*/
/*.package-edit-menu .help:hover{background-color:#d6eefa;}
.package-edit-menu .help:hover > .fa{color:#20588f;}*/
/*.package-edit-menu .help:hover{background-color:#27A2D6;}*/
/*.package-edit-menu .help:hover > .fa{color:#20588f;}*/
/*.package-edit-menu .help.active{background-color:#d6eefa;}*/
/*.package-edit-menu .help.active{background-color:#20588f;}*/
/*.package-edit-menu .help.active{background-color:#27A2D6;}*/
/*.package-edit-menu .help.active{background-color:#ebf8ff;}*/
/*.package-edit-menu .help.active .fa{color:#20588f;}*/
/*.package-edit-menu .help.active .fa{/*color:white;*//*color:#20588f;}*/
header{background-color:white;height:120px;width:100%;}
.main-bar .left-head{height:120px;}
.main-bar .left-head .logo{margin:40px 20px 20px 0px;float:left;width:189px;}
.main-bar .left-head .slogan{float:left;margin-top:64px;font-style:normal;font-size:15px;line-height:1.2em;width:200px;color:black;font-family:'Open Sans',Arial,sans-serif;position:relative;top:3px;font-weight:100;}
.main-bar .right-head{height:120px;background-image:url('/img/header/header_bg.jpg');background-repeat:no-repeat;background-position:10px;}
/*.logo{margin-top:30px;}
.login-box{width:120px;height:20px;background-color:#ededed;float:right;margin-top:52px;color:#222;font-size:0.8em;padding:10px 20px;}
.login-box i{margin-right:5px;}
.langs{text-align:right;color:#555;font-size:0.8em;}
.package-edit-menu a{color:#fff;text-decoration:none;text-transform:uppercase;line-height:40px;padding-right:10px;font-size:0.7em;}*/
.error-messages{float:left;min-height:40px;width:100%;line-height:40px;background-color:#ffe9d2;}
.error-messages div:not(#delete-confirm-button){margin-left:10px;color:#fd7151;font-size:0.8em;}
#delete-confirm-button{float:right;color:#fd7151;border-left:1px solid #fd7151;font-size:0.8em;width:40px;text-align:center;cursor:pointer;}
#delete-confirm-button:hover{background-color:#fd7151;color:white;}
/**left menu**/
.left-area table{width:100%;table-layout:fixed;border-collapse: collapse;}
.left-area .page-icon.intro{background:url('../img/page_type_icons/left_bar/intro-sprite.png') no-repeat;}
.left-area .page-icon.blank{background:url('../img/page_type_icons/left_bar/blank.png') no-repeat;}
.left-area .page-icon.page{background:url('../img/page_type_icons/left_bar/page-sprite.png') no-repeat;}
.left-area .page-icon.video{background:url('../img/page_type_icons/left_bar/video-sprite.png') no-repeat;}
.left-area .page-icon.summary{background:url('../img/page_type_icons/left_bar/summary-sprite.png') no-repeat;}
.left-area .page-icon.quiz{background:url('../img/page_type_icons/left_bar/quiz-sprite.png') no-repeat;}
.left-area .page-icon.task{background:url('../img/page_type_icons/left_bar/task-sprite.png') no-repeat;}
.left-area .page-icon.test{background:url('../img/page_type_icons/left_bar/test-sprite.png') no-repeat;}
.left-area .page-icon.finaltest{background:url('../img/page_type_icons/left_bar/finaltest.png') no-repeat;}
.left-area tbody tr{height:52px;}
.left-area .page-icon{width:33px;height:52px;margin-left:10px;}
.left-area tbody tr.active{background-color:#fff;}
.left-area tbody tr.active .page-type-title a{color:#20588f;}
.left-area tbody tr.active .page-type-title a:hover{color:#fff;}
.left-area tbody tr.active > .page-icon-holder .page-icon{background-position:-33px 0px;}
.left-area tbody tr.active:hover > .page-icon-holder .page-icon{background-position:0px 0px;}
.left-area .page-type-title{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;font-size:0.7em;padding-left:4px;max-width:149px;}
.left-area .page-type-title a{color:#555555;}
.left-area tbody tr:hover > .page-type-title a{color:#fff;}
/*.left-area tbody tr:not(.active):hover{cursor:pointer;background-color:#e3e3e3;height:50px;}*/
.left-area tbody tr:hover{cursor:pointer;background-color:#184b7c;height:50px;}
.left-area tbody tr:hover > .page-edit-holder{border-left:1px solid #cdcdcd;height:50px;background-color:transparent;}
/*.left-area tbody tr:hover > .page-edit-holder a{color:#555;}*/
.left-area tbody tr:hover > .page-edit-holder a{color:#fff;}
/*.left-area tbody tr:hover > .page-move-holder{border-left:1px solid #cdcdcd;height:50px;background-color:transparent;color:#555;}*/
.left-area tbody tr:hover > .page-move-holder{border-left:1px solid #cdcdcd;height:50px;background-color:transparent;color:#fff;}
.left-area tbody tr .page-edit-holder:hover{background-color:#43b77a;color:white;}
.left-area tbody tr .page-edit-holder:hover > a{color:white;}
.left-area tbody tr .page-move-holder:hover{background-color:#20588f;cursor:ns-resize;color:white;}
.left-area tbody tr .page-edit-holder a{text-align:center;color:transparent;}
.left-area tbody tr .page-move-holder{text-align:center;color:transparent;}
.left-area .disabled{border-bottom:1px solid #dedede;}
.left-area .disabled:last-of-type{border-bottom:none;}

.ui-sortable-placeholder{border:1px dashed #cdcdcd;float:left;width:100%;height:100%;}

/*.required{color:#fd7151;visibility:hidden;}*/
.required{color:#fd7151;visibility:hidden;}
.left-area .fa-circle{color:#fd7151;}
.left-area .fa-circle.green{color:#d2f4e4;}
.left-area .fa-circle:hover + .required{visibility:visible;}
.left-area .disabled:hover .required{visibility:visible;}
/*#add-new-page{background-color:#20588f;}
#add-new-page a{color:#fff;}
#add-new-page:hover{background-color:#184b7c;}*/
/*#add-new-page{background-color:#20588f;}
#add-new-page a{color:#fff;}*/
.add-page-icon{background-image:url('../img/page_type_icons/left_bar/new-page-sprite.png');}
.left-area #add-new-page{background-color:#f8f8f8;border-top:1px solid #dedede;}
.left-area #add-new-page .page-type-title a{color:#20588f; text-transform:uppercase;}
#add-new-page:hover{background-color:#184b7c;}
.left-area #add-new-page:hover > .page-type-title a{color:white;}
.left-area #add-new-page:hover > .page-icon-holder .page-icon.add-page-icon{background-position:-33px 0px;}

.td_filler{width:100%;height:50px;line-height:50px;overflow:hidden;text-overflow:ellipsis;padding-right:10px;}
.td_filler.page-edit i.fa-pencil{margin-left:12px;}
/**tips box area**/

/*.left-area .page-type-text{margin-top:17px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;font-size:0.7em;height:33px;color:#555555;}
.left-area .page-type-text a{color:#555555;}
.left-area .page-type-icon{height:50px;}
.left-area .page-type{border:1px transparent solid;}
.left-area .page-type:hover > .page-move-holder{display:block;}
.left-area .page-type:hover{cursor:pointer;background:white;border:1px solid #b5b5b5;border-right:0px;}
.left-area .page-type:hover > .page-type-icon .page-icon{background-position:-33px 0px;}
.left-area .page-type .page-move-holder:hover .page-move{background-position:-14px 0px;}
.left-area .page-type .page-move-holder:hover{background-color:#20588f;cursor:move;}
.left-area .page-type.active > .page-type-icon .page-icon{background-position:-33px 0px;}
.left-area .page-move-holder{border-left:1px solid #e5e5e5;height:50px;padding-left:10px;display:none;}
*/
/*header{display:none;}*/
.slider-bar{text-transform:uppercase;line-height:24px;width:674px;margin-left:-67px;height:24px;font-size:0.7em;background-color:#eee;border-bottom:#dedede 1px solid;border-top:1px solid #dedede;color:#20588f;text-align:right;padding-right:10px;margin-bottom:20px;letter-spacing:1px;}
.slider-bar:hover{cursor:pointer;border-color:#20588f;}
.tips-box
{
/*	background-color:#ebf8ff;*/
/*	background-color:#27A2D6;*/
	background-color:#d6eefa;
/*	color:white;*/
	color:#20588f;
	height:140px;
}
.tips-box .info
{
	padding-left:6%;
	padding-right:6%;
}
.tips-box .close a, .tips-box .close a:visited
{
/*	color:#20588f;*/
/*	color:white;*/
	color:#20588f;
}
.tips-box .close a:hover
{
	color:#184b7c
}
.tips-box .close
{
	font-size:15pt;
	text-align:right;
	height:25px;
	padding-top:5px;
}
.tips-box
{
	font-size:10pt;
}
h2
{
	font-weight:bold;
	padding-bottom:10px;
}
form label
{
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:0.6em;
	margin-bottom:1%;
}
form label
{
	color:#757677;
}
form label.not-editable
{
	color:#b5b5b5;
}
.form-field-box label, .form-field-box input
{
	display:block;
	width:100%;
}
input#url:focus{border:1px solid #1a1a1a;}
.form-field-box input[type=submit]:not(.inactive), button{cursor:pointer;}
.form-field-box input{height:33px;padding:1%;}
.form-field-box input[type=text]:not(.disabled){padding-left:10px;border:#b5b5b5 1px solid;}
.content-area{padding:5% 10%;padding-top:0px;height:100%;}
.content-editor-container{padding:0px;padding-top:20px;padding-right:9px;}
#content-editor-border{border:1px solid #b6b6b6;}
#content-editor-url-page{padding-top:0px;padding-bottom:20px;padding-right:0px;}
.btn, input.submit{letter-spacing:1px;text-transform:uppercase;height:30px;width:100%;}
.button-box{padding:0;padding-top:3%;padding-bottom:6%;margin-top:9px;}
.form-hider{padding-top:25px;padding-bottom:3px;}
.page-title-main{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}


.error-screen{background-color:#fff;max-width:960px;padding:0;}
.main-error{text-align:center;margin-top:10px;}
.iframe-loading{display:none;}
