.external-style
{
        color:#111111;
        font-weight:normal;
	font-family:Arial, sans-serif;
	font-size:87.5%;
}
.external-style h1
{
	font-size:18pt;
	color:#343434;
}
.external-style .ingressImg
{
	float: left;
	margin-right: 10px;
}
.external-style p
{
	padding-bottom:20px;
}
.external-style .node .ingress
{
	line-height: 1.4;
	font-size: 1.1em;
	margin-bottom: 20px;
}
.external-style .node_content
{
	width: 410px;
	line-height: 1.5em;
	word-wrap: break-word;
}
.external-style .paragraph
{
	clear: both;
}
.external-style .right
{
	width: 190px;
	margin-right: -215px;
	float: right;
	clear: right;
	position: relative;
	word-wrap: break-word;
}
.external-style .frame
{
	background: #e5e5e5 url(/img/frame_bg.jpg) repeat-x;
	border: 1px solid #ccc;
	font-weight: 400;
	clear: left;
	padding: 10px;
	margin: 0 0 10px 0px;
}
.external-style .frame .wrapicon
{
	padding: 4px;
	min-height: 50px;
}
.external-style .frame .wrapicon.no_icon
{
	min-height: 0;
}
.external-style .frame .wrapicon.no_icon p:first-child, 
.external-style .frame .wrapicon.no_icon ul:first-child, 
.external-style .frame .wrapicon.no_icon ol:first-child
{
	margin-top: 0px;
	padding-bottom: 0px;
}
.external-style span.contentbrowser_margin_right
{
	margin-right: 10px;
}
.external-style span.contentbrowser_margin_right img.margin_right
{
	margin-right: 0px;
}
.external-style .contentbrowser_caption
{
	line-height: 1.5em;
	font-size: 0.8em;
	display: block;
}
.external-style .node h2
{
	font-size: 18px;
	margin-bottom: 5px;
	padding-bottom:0px;
}
.external-style a
{
	text-decoration: none;
	color: #20588F;
}
.external-style .node ul, .node ol
{
	margin-bottom: 20px;
	padding-bottom: 0px;
	overflow: hidden;
	padding-left: 2em;
	margin-left: 0;
}
.external-style .full
{
	clear: both;
	width: 620px;
	position: relative;
}

